@import "@fontsource/inria-sans/700.css";
@import "@fontsource/inria-sans/400.css";
@import "@fontsource/inria-sans/300.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "Inria Sans", serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #FFF;
  border: 1px solid rgba(240,240,240,0.2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; 

  @apply rounded-2xl;

  background-color: rgba(25,30,50,0.99);
  @apply bg-gradient-to-b from-blue-900/30 to-purple-800/20;

  position:absolute;
  top:5px;
  left:5px;
  right:5px;
  bottom:5px;
  
  box-shadow: 0 2px 7px rgba(0,0,0,0.5);
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

.solid-select-container {
    @apply 
        text-gaze-300
        bg-gaze-800
        rounded
        relative
        border
        border-white/10
        hover:bg-gaze-700
        transition-colors
        focus:border-orange-300
    ;
}

.solid-select-control {
    @apply border-none
        px-2
        py-1
    ;
}

.solid-select-placeholder {
    @apply text-gaze-700; 
}

.solid-select-input {
    @apply absolute
           top-0
           left-0
           right-0
           bottom-0
           bg-transparent
           px-2
           py-2
           ;
}

.solid-select-list {
    @apply absolute
        bg-gaze-800
        mt-2
        w-full
        shadow-md
        rounded
        overflow-hidden
        ;
}

.solid-select-option {
    @apply
        py-1
        px-2
        hover:bg-gaze-700
        focus:bg-gaze-700
    ;
}

.solid-select-option[data-focused='true'] {
    @apply bg-gaze-600;
}
