@import "@fontsource/inria-sans";
@import "@fontsource/inria-sans/300.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inria Sans", serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #FFF;
  background-color: rgba(25,30,50,0.98);
  border-radius:15px;

  border: 1px solid rgba(240,240,240,0.2);
  height:100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
